fastapi==0.120.4
uvicorn[standard]==0.38.0
pydantic==2.12.3

httpx==0.28.1
tenacity==9.1.2

duckdb==1.4.1
pandas==2.3.3
numpy==2.3.4
scipy==1.16.2
pyarrow==25.0.1

osmium==4.3.1

networkx==3.5
shapely==2.1.2
pyproj==3.7.2
rapidfuzz==3.14.1

ortools==9.14.6206

pytest==8.4.2
